:root {
    --nav-background-color: rgb(48, 48, 48);
    --nav-color-hover: rgb(4, 86, 180);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.page-wrap {
    background-color: rgb(200, 200, 200);
    min-height: 100vh;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    position: sticky;
    display: flex;
    background-color: var(--nav-background-color);
    border-bottom: 6px solid var(--nav-color-hover);
    border-radius: 3px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;

}

.nav-link {
    padding: 16px 15px;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .25s ease;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: var(--nav-color-hover);
}

.fa-plus {
    font-size: 15px;
}

.menu-nested,
.menu-nested1,
.menu-nested2 {
    position: absolute;
    background-color: var(--nav-background-color);
    display: none;
}

.li-nested:hover .menu-nested {
    display: block;
}

.li-nested,
.li-nested1 {
    position: relative;
}

.link-width {
    width: 132px;
}

.left {
    left: 132px;
    top: 0;
}

.li-nested1:hover .menu-nested1 {
    display: block;
}

.li-nested2:hover .menu-nested2 {
    display: block;
}

.login {
    display: inline;
}

.menu-nested2 {
    top: 50%;
}